<style>
    .main_area {
        margin-top: 14px;
        width: 100%;
        min-width: 965px;
        height: auto;
        min-height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .main_box {
        width: 965px;
        min-width: 965px;
        height: auto;
        min-height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sign_up_box {
        margin-top: 35px;
        width: 570px;
        height: auto;
        min-height: 500px;
    }

    .sign_up_logo_box {
        margin-top: 20px;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .sign_up_logo_text {
        color: #39373A;
        text-decoration: none;
        font-family: 'Noto-B';
        font-size: 80px;
    }

    .sign_up_title_linebox {
        display: flex;
    }

    .sign_up_title_box {
        width: 150px;
        height: 100%;
    }

    .sign_up_title {
        width: 200px;
        height: 53px;
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Noto-B';
    }

    .sign_up_input {
        width: calc(100% - 10px);
        height: 50px;
        font-size: 16px;
        padding-left: 10px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #9D9D9D;
    }

    .sign_up_input::placeholder {
        color: #464646;
    }

    .sign_up_input:focus {
        outline: none;
    }

    .sign_up_input_birth_box {
        width: calc(100% + 6px);
        height: 50px;
        display: flex;
        margin-bottom: 30px;
    }

    .sign_up_input_birth {
        width: calc(30% - 10px);
        height: 46px;
        border: none;
        border-bottom: 1px solid #9D9D9D;
        font-size: 16px;
        margin-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }

    .sign_up_input_birth:focus {
        outline: none;
    }

    .sign_up_input_birth_last {
        width: calc(30% - 10px);
        height: 46px;
        border: none;
        border-bottom: 1px solid #9D9D9D;
        font-size: 16px;
        padding-left: 10px;
    }

    .sign_up_input_birth_last:focus {
        outline: none;
    }

    .sign_up_input_birth::placeholder {
        font-size: 16px;
        color: #464646;
    }

    .sign_up_input_birth_last::placeholder {
        font-size: 16px;
        color: #464646;
    }

    .sign_up_input_sex_select {
        width: calc(100% + 6px);
        height: 50px;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #9D9D9D;
        padding-left: 10px;
        margin-bottom: 30px;
    }

    .sign_up_input_sex_select_text {
        font-size: 20px;
    }

    .sign_up_button_box {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sign_up_button {
        width: 570px;
        height: 60px;
        background-color: #39373A;
        border: none;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Noto-M';
        border-radius: 6px;
        outline: none;
    }

    .sign_up_button:hover::after {
        border: none;
        outline: none;
    }

    .sign_up_button_right {
        width: calc(150px);
        height: 60px;
        background-color: #39373A;
        border: 1px solid #39373A;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Noto-M';
        border-radius: 6px;
        outline: none;
    }

    .sign_up_button_a {
        text-decoration: none;
    }
</style>
<div class="main_area">
    <div class="main_box">
        <div class="sign_up_box">
            <div class="sign_up_logo_box">
                <a class="sign_up_logo_text" href="/">D.NET</a>
            </div>
            <form method="POST" action="/users/login">
                <div class="sign_up_title_linebox">
                    <input class="sign_up_input" name="id" type="text" placeholder="아이디">
                </div>
                <div class="sign_up_title_linebox">
                    <input class="sign_up_input" name="passwd" type="text" placeholder="비밀번호">
                </div>
                <div class="sign_up_button_box">
                    <a class="sign_up_button_a"><button class="sign_up_button">로그인</button></a>
            </form>
        </div>
    </div>
</div>
</div>