<style>
    .main_area {
        margin-top: 14px;
        width: 100%;
        min-width: 965px;
        height: auto;
        min-height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .main_box {
        width: 965px;
        min-width: 965px;
        height: auto;
        min-height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sign_up_box {
        margin-top: 35px;
        width: 800px;
        height: auto;
        min-height: 500px;
    }

    .sign_up_logo_box {
        margin-top: 20px;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .sign_up_logo_text {
        color: #39373A;
        text-decoration: none;
        font-family: 'Noto-B';
        font-size: 80px;
    }

    .sign_up_title_linebox {
        display: flex;
        margin-bottom: 30px;
    }

    .sign_up_title_linebox_content {
        display: flex;
        margin-bottom: 20px;
    }

    .sign_up_title_box {
        width: 150px;
        height: 100%;
    }

    .sign_up_title {
        width: 80px;
        height: 53px;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Noto-B';
        padding-left: 10px;
    }

    .sign_up_title_content {
        width: 80px;
        height: 53px;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Noto-B';
        padding-left: 10px;
    }

    .sign_up_input {
        width: calc(100% - 10px);
        height: 50px;
        font-size: 16px;
        padding-left: 10px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #9D9D9D;
    }

    .sign_up_input::placeholder {
        color: black;
        font-weight: 700;
        font-family: 'Noto-B';
        font-size: 20px;
    }

    .upload_file_box {
        width: 100%;
        height: 53px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .file_upload_button {
        width: 100%;
        height: 30px;
    }

    .file_upload_button input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .sign_up_input:focus {
        outline: none;
    }

    .upload_news_content_box {
        font-size: 20px;
    }

    .sign_up_button_box {
        margin-top: 40px;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sign_up_button {
        width: 500px;
        height: 60px;
        background-color: #39373A;
        border: none;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Noto-M';
        border-radius: 6px;
        outline: none;
    }

    .sign_up_button:hover::after {
        border: none;
        outline: none;
    }

    .sign_up_button_a {
        text-decoration: none;
    }
    .select_team{
        width: calc(50% - 10px);
        height: 53px;
        margin-right: 20px;
        border: none;
        border-bottom: 1px solid #9D9D9D;
        font-size: 20px;
        font-family: 'Noto-B';
        padding-left: 5px;
        outline: none;
        font-weight: 700;
    }
    .select_team ::placeholder{
        font-size: 20px;
        font-family: 'Noto-B';
    }
    .select_team :focus{
        outline: none;
    }
    .selct_team_box{
        color: black;
        font-weight: 700;
        font-family: 'Noto-B';
        font-size: 20px;
    }
    .select_team::placeholder{
        color: black;
        font-weight: 700;
        font-family: 'Noto-B';
        font-size: 20px;
    }
</style>
<div class="main_area">
    <div class="main_box">
        <div class="sign_up_box">
            <div class="sign_up_logo_box">
                <a class="sign_up_logo_text" href="/">D.NET</a>
                <h1> &nbsp;&nbsp;[동영상작성]</h1>
            </div>
            <form method="POST" action="/board/upload_video" enctype="multipart/form-data">
                <div class="sign_up_title_linebox">
                    <select name="league" class="select_team">
                        <option class="selct_team_box" value="기타">리그</option>
                        <option class="selct_team_box" value="프리미어리그">프리미어리그</option>
                        <option class="selct_team_box" value="라리가">라리가</option>
                        <option class="selct_team_box" value="분데스">분데스</option>
                        <option class="selct_team_box" value="세리에">세리에</option>
                        <option class="selct_team_box" value="UEFA">UEFA</option>
                    </select>
                    <input type="text" name="team" class="select_team" style="margin-right: 0px; height: 52px; padding: 0px; padding-left: 10px;" placeholder="팀">
                </div>
                <div class="sign_up_title_linebox">
                    <input class="sign_up_input" name="title" type="text" placeholder="제목">
                </div>
                <div class="sign_up_title_linebox">
                    <input class="sign_up_input" name="video" type="text" placeholder="영상 링크">
                </div>
                <div class="sign_up_title_linebox_content">
                    <label>
                        <input type="file" name="userfile">
                    </label>
                </div>
                <textarea name="content" class="upload_news_content_box" cols="88" rows="30"></textarea>
                <div class="sign_up_button_box">
                    <a class="sign_up_button_a"><button class="sign_up_button">게시글 작성</button></a>
            </form>
        </div>
    </div>
</div>
</div>